/* General */

$transitionDuration: 0.2s;

// Color
$base-teal-color-hover: #006765;
$error-color: #ff3b30;
$success_toast_background: #ebf9ee;
$success_toast_text: #34c759;
$error_toast_background: #ffebea;
$error_toast_text: #ff3b30;
$info_toast_background: #e6f2ff;
$info_toast_text: #007aff;
$warning_toast_background: #fff7e6;
$warning_toast_text: #ffab00;
$section_title_color: #696969;
$breadcrumb_active_color: #929292;
$readonly_background_color: #ededed;
$table_border_radius: 0.75rem;
