@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

@font-face {
  font-family: "PokemonFont";
  src: url("/assets/fonts/pokemon-pixel-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --content-gap-xxxl: 24px;
  --content-gap-xxl: 20px;
  --content-gap-l: 18px;
  --content-gap: 15px;
  --content-gap-s: 8px;
  --content-gap-xs: 6px;

  --font-h1-size: 36px;
  --font-h2-size: 30px;
  --font-h3-size: 24px;
  --font-h4-size: 20px;
  --font-h5-size: 18px;
  --font-h6-size: 16px;

  --font-family: "PokemonFont", sans-serif;
}

html {
  font-size: 1rem;
  height: 100%;
  font-family: "PokemonFont", sans-serif !important;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jump {
  animation: jump 0.4s ease;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
