.pokemon-container {
  display: grid;
  grid-template-areas: "pokemonSearch pokemonSearch" "scroll-wrapper pokemonCardDiv" "pokeball pokemon-gen-div";
  justify-content: center;
  width: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto 50% 1fr;
  height: calc(100vh - 48px);
  min-width: 340px;
}

.pokemon-card-div {
  grid-area: pokemonCardDiv;
  width: 100%;
  padding: var(--content-gap);
  justify-content: center;
  display: grid;
  grid-template-areas: "pokeCard";
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.pokeball {
  grid-area: pokeball;
  --rotation: 0deg;
  height: 90%;
  aspect-ratio: 1/1;
  // border: 5px solid black;
  border-radius: 50%;
  // background: linear-gradient(to bottom, red 50%, white 50%);
  position: relative;
  transform: rotate(var(--rotation));
  cursor: grab;
  user-select: none;
  // max-height: 400px;
  margin: auto;
}

// /* Black center band */
// .pokeball::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   height: 20px;
//   background: black;
//   transform: translateY(-50%);
// }

// /* White button in center */
// .pokeball::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 60px;
//   height: 60px;
//   background: white;
//   border: 5px solid black;
//   border-radius: 50%;
//   transform: translate(-50%, -50%);
// }

.pokemonSearch {
  grid-area: pokemonSearch;
  display: grid;
  align-items: center;
  padding: var(--content-gap);
}

.pokemon-gen-div {
  grid-area: pokemon-gen-div;
  justify-content: center;
  padding: var(--content-gap);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60%;
  align-self: center;
  justify-content: center;
}

.pokemon-card {
  grid-area: pokeCard;
  display: grid;
  grid-template-areas: "pokemon-text" "pokeImgDiv" "pokeTypes";
  align-items: center;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 100%;
  gap: var(--content-gap);
}

.pokemon-text {
  font-size: var(--font-h1-size) !important;
  font-weight: bold;
}

.scroll-wrapper {
  grid-area: scroll-wrapper;
}

.poke-div {
  grid-area: pokeDiv;
  display: grid;
  gap: var(--content-gap);
  overflow-y: scroll;
  padding: 0 var(--content-gap-xs) 0 var(--content-gap);
  /* justify-content: center; */
  align-items: start;
}

.poke-div::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-wrapper {
  position: relative;
  display: flex;
}

.custom-scrollbar {
  width: 20px;
  position: relative;
  user-select: none; /* prevent text selection while dragging */

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 4px;
    background: #c0c0c0;
    image-rendering: pixelated;
  }
}

.scroll-thumb {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  background: #ef5050;
  border: 2px solid #9e9b9b;
  border-radius: 6px;
  cursor: grab;
  touch-action: none; /* important for mobile dragging */
}

.scroll-line {
}

.pokemon-list-card {
  display: grid;
  grid-template-areas: "pokeId pokeName";
  grid-template-columns: auto 1fr;
  gap: var(--content-gap);
  align-items: center;
  padding: var(--content-gap-xs);
  border-radius: 8px;
  grid-template-rows: 100%;
  width: 100%;
}

.pokemon-id {
  grid-area: pokeId;
  align-items: center;
}

.pokemon-img-div {
  grid-area: pokeImgDiv;
  grid-template-areas: "pokeImg";
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  justify-content: center;
  position: relative;
  background: none; /* we'll move the background to the pseudo-element */
  border-radius: 8px;
  align-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  // overflow-y: auto;
  position: relative;
}

.pokemon-img-div::before {
  content: "";
  aspect-ratio: 1 / 1;
  margin: auto;
  position: absolute;
  inset: 0;
  background-image: url("/assets/images/gray-pokeball.png");
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* fades only the background */
  z-index: 0;

  /* rotation */
  animation: spin 30s linear infinite;
}

/* define the keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-img {
  grid-area: pokeImg;
  height: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 1;
  position: relative;
  transition: transform 0.2s ease;
  margin: auto;
}

.jump {
  animation: jump 0.4s ease;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.pokemon-name {
  grid-area: pokeName;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selected-border {
  border: 2px solid blue;
}

.poke-font {
  font-size: var(--font-h3-size);
}

.types-div {
  grid-area: pokeTypes;
}

@media (min-width: 600px) {
  .pokemon-container {
    grid-template-areas: "pokeball pokemonCardDiv pokeDiv";
    grid-template-columns: 30% 40% 30%;

    grid-template-rows: 1fr;
  }
}
