<div class="pokemon-container">
  <div class="pokemon-card-div">
    <div class="pokemon-card">
      <div class="tw-text-center pokemon-text poke-font">
        {{ selectedPokemon?.name | capitalize }}
      </div>

      <div class="pokemon-img-div" (click)="goInPokemon()">
        <img
          *ngIf="selectedPokemon"
          [src]="
            selectedPokemon.sprites.other['official-artwork'].front_default
          "
          alt="{{ selectedPokemon.name }}"
          class="pokemon-img"
          [class.jump]="isJumping"
        />
      </div>

      <div
        class="types-div tw-flex tw-gap-[var(--content-gap)] tw-justify-center"
      >
        <div *ngFor="let type of selectedTypes">
          <app-type-tag
            [typeName]="type.name"
            [backgroundColor]="typeColors[type.name]"
          ></app-type-tag>
        </div>
      </div>
    </div>
  </div>

  <!-- pokeball -->
  <img
    #pokeball
    class="pokeball"
    [style.transform]="'translateX(-50%) rotate(' + rotation + 'deg)'"
    (mousedown)="startRotate($event)"
    (mousemove)="rotate($event)"
    (mouseup)="stopRotate()"
    (touchstart)="startRotateTouch($event)"
    (touchmove)="rotateTouch($event)"
    (touchend)="stopRotateTouch()"
    (touchcancel)="stopRotateTouch()"
    [src]="'/assets/images/balls/pokeball.png'"
  />

  <div #pokemonListEl class="poke-div">
    <div
      class="pokemon-list-card"
      *ngFor="let pokemon of displayPokemonList"
      (click)="selectPokemon(pokemon)"
      [ngClass]="{
        'selected-border': selectedPokemon?.id === pokemon.id
      }"
    >
      <div class="pokemon-id poke-font">
        {{ pokemon.id.toString().padStart(3, "0") }}
      </div>
      <div class="pokemon-name poke-font">{{ pokemon.name | capitalize }}</div>
    </div>
  </div>

  <div class="pokemonSearch">
    <app-base-input
      [fieldControl]="searchFormControl"
      [iconRightStyle]="'pi pi-search'"
    ></app-base-input>
  </div>

  <div class="pokemon-gen-div">
    <div *ngFor="let gen of genList">
      <app-base-button
        *ngIf="gen.region"
        [label]="gen.region | capitalize"
        [outlined]="true"
        (onClick)="selectedRegion(gen)"
        [rounded]="true"
      ></app-base-button>
    </div>
  </div>
</div>
