<div class="button-container">
  <ng-container [ngSwitch]="type">
    <ng-template [ngSwitchDefault]>
      <p-button
        [outlined]="outlined || severity === 'secondary'"
        [type]="buttonType"
        [label]="isSpinning ? undefined : (label | translate)"
        [icon]="
          (!!iconName ? iconName : '') +
          (isSpinning ? ' pi pi-spin pi-spinner ' : '')
        "
        [iconPos]="rightIcon ? 'right' : 'left'"
        [class]="'button-item ' + buttonClass"
        [text]="isTextStyle"
        [rounded]="rounded"
        [ngClass]="{
          'border-none': !outlined,
          'bg-red-400': color === 'red',
          oneline: labelOneLine
        }"
        [disabled]="disabled"
        (click)="click($event)"
        [loading]="loading"
        [raised]="raised"
        [styleClass]="buttonStyleClass"
      >
        <img
          class="h-1rem w-1rem"
          alt="icon"
          *ngIf="!!iconUrl && !rightIcon"
          [src]="iconUrl"
        />
      </p-button>
    </ng-template>
    <ng-template [ngSwitchCase]="'split'">
      <p-splitButton
        label="{{ label | translate }}"
        [icon]="!!iconName ? iconName : ''"
        [iconPos]="rightIcon ? 'right' : 'left'"
        class="split-button-item"
        [ngClass]="{
          outlined: outlined,
          'bg-red-400': color === 'red'
        }"
        [disabled]="disabled"
        [model]="splitButtonItems"
      >
      </p-splitButton>
    </ng-template>
  </ng-container>
</div>
