<div class="detail-container" *ngIf="pokemon">
  <section
    class="pokemon-img-sec"
    [ngStyle]="{
      'background-color': pokemon.species?.color.name
    }"
  >
    <div class="basic-div">
      <div class="pokemon-name" [style.color]="fontColor">
        {{ pokemon.name | capitalize }}
      </div>
      <div class="pokemon-id" [style.color]="fontColor">
        #{{ pokemon.id.toString().padStart(3, "0") }}
      </div>
      <div class="pokemon-type">
        <div *ngFor="let type of typeList">
          <app-type-tag
            [typeName]="type.name"
            [backgroundColor]="typeColors[type.name]"
          ></app-type-tag>
        </div>
      </div>
    </div>
    <div class="image-div">
      <app-base-button
        [iconName]="'pi pi-angle-left'"
        [isTextStyle]="true"
        (onClick)="prevPokemon()"
        [rounded]="true"
        [color]="fontColor"
      ></app-base-button>
      <img
        [src]="pokemon?.sprites?.other['official-artwork'].front_default"
        [alt]="pokemon?.name"
        class="pokemon-img"
        [class.jump]="isJumping"
        (click)="pokemonImageClicked()"
      />
      <app-base-button
        [iconName]="'pi pi-angle-right'"
        [isTextStyle]="true"
        (onClick)="nextPokemon()"
        [rounded]="true"
        [color]="fontColor"
      ></app-base-button>
    </div>
  </section>

  <div class="detail-body" [style.--poke-color]="pokemon.species?.color.name">
    <p-tabView>
      <!-- about -->
      <p-tabPanel header="About">
        <section class="description-sec">
          <div class="">
            {{ desc$ | async }}
          </div>

          <div class="body-div tw-shadow-xl">
            <div class="height-div">
              <div class="pokemon-label">Height</div>
              <div class="pokemon-value">{{ pokemon.height / 10 }} m</div>
            </div>
            <div class="weight-div">
              <div class="pokemon-label">Weight</div>
              <div class="pokemon-value">{{ pokemon.weight / 10 }} kg</div>
            </div>
          </div>

          <div class="detail-div">
            <div class="breeding-label tw-font-bold">Breeding</div>
            <div class="detail-grid-label-div">
              <div class="detail-grid-label">Gender</div>
              <div class="detail-grid-label">Catch Rate</div>
              <div class="detail-grid-label">Egg Group</div>
              <div class="detail-grid-label">Egg Cycle</div>
            </div>
            <div class="detail-grid-value-div">
              <div class="detail-grid-value">
                <div
                  class="tw-flex tw-gap-[var(--content-gap-xs)] tw-justify-center"
                >
                  <span class="pi pi-mars tw-text-blue-500"></span
                  >{{ ((8 - pokemon.species.gender_rate) / 8) * 100 }}%
                </div>
                <div
                  class="tw-flex tw-gap-[var(--content-gap-xs)] tw-justify-center"
                >
                  <span class="pi pi-venus tw-text-pink-500"></span>
                  {{ (pokemon.species.gender_rate / 8) * 100 }}%
                </div>
              </div>
              <div class="detail-grid-value">
                {{ pokemon.species.capture_rate }} ({{
                  (pokemon.species.capture_rate / 255) * 100 | number : "1.2-2"
                }}%)
              </div>
              <div class="detail-grid-value">
                {{ returnEggGroup() | capitalize }}
              </div>
              <div class="detail-grid-value">
                {{ pokemon.species.hatch_counter }}
              </div>
            </div>
          </div>

          <div class="body-base-div">
            <div class="base-label tw-font-bold">Base</div>
            <div class="base-grid-group-div">
              <div class="base-grid-div">
                <div class="base-grid-label">Abilities</div>
                <div class="base-grid-value">
                  <div
                    *ngFor="let ability of abilities"
                    class=""
                    [style.textDecoration]="
                      ability.hidden ? 'underline' : 'none'
                    "
                  >
                    {{ ability.name | capitalize }}
                  </div>
                </div>
              </div>
              <div class="base-grid-div">
                <div class="base-grid-label">Leveling Rate</div>
                <div class="base-grid-value">
                  {{ returnGrowthRate() | capitalize }}
                </div>
              </div>
              <div class="base-grid-div">
                <div class="base-grid-label">Base Friendship</div>
                <div class="base-grid-value">
                  {{ pokemon.species.base_happiness }}
                </div>
              </div>
              <div class="base-grid-div">
                <div class="base-grid-label">Shape</div>
                <div class="base-grid-value">
                  {{ pokemon.species.shape.name | capitalize }}
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="encounter-sec">
          <div class="encounter-title tw-font-bold">Encounter Locations</div>
          <div class="location-list">
            <div *ngFor="let item of locationList" class="location-item">
              <div
                class="version-label"
                [style.--version-color]="returnVersionColor(item.version)"
                [style.--poke-color]="pokemon.species.color.name"
                [style.color]="
                  getContrastColor(returnVersionColor(item.version))
                "
              >
                <div class="version-tag">{{ item.version | capitalize }}</div>
              </div>
              <div class="location-label">
                {{ item.locations.join(", ") | capitalize }}
              </div>
            </div>
          </div>
        </section>
      </p-tabPanel>

      <!-- base stats -->
      <p-tabPanel header="Base Stats">
        <section class="stat-sec">
          <p-chart
            type="radar"
            [data]="chartData"
            [options]="chartOptions"
          ></p-chart>
        </section>

        <section class="type-def-sec">
          <div class="h2-title">Type Effectiveness</div>
          <div class="type-effectiveness-div">
            <div class="super-list-div">
              <div class="effectiveness-label">Super Effective</div>
              <div class="right-effectiveness">
                <div *ngIf="returnTypeEffectiveness(4).length === 0">--</div>
                <div *ngFor="let type of returnTypeEffectiveness(4)">
                  <app-type-tag
                    [typeName]="type"
                    [backgroundColor]="typeColors[type]"
                  ></app-type-tag>
                </div>
              </div>
            </div>
            <div class="double-list-div">
              <div class="effectiveness-label">Double Effective</div>
              <div class="right-effectiveness">
                <div *ngIf="returnTypeEffectiveness(2).length === 0">--</div>
                <div *ngFor="let type of returnTypeEffectiveness(2)">
                  <app-type-tag
                    [typeName]="type"
                    [backgroundColor]="typeColors[type]"
                  ></app-type-tag>
                </div>
              </div>
            </div>
            <div class="normal-list-div">
              <div class="effectiveness-label">Normal Effective</div>
              <div class="right-effectiveness">
                <div *ngIf="returnTypeEffectiveness(1).length === 0">--</div>
                <div *ngFor="let type of returnTypeEffectiveness(1)">
                  <app-type-tag
                    [typeName]="type"
                    [backgroundColor]="typeColors[type]"
                  ></app-type-tag>
                </div>
              </div>
            </div>
            <div class="half-list-div">
              <div class="effectiveness-label">Half Effective</div>
              <div class="right-effectiveness">
                <div *ngIf="returnTypeEffectiveness(0.5).length === 0">--</div>
                <div *ngFor="let type of returnTypeEffectiveness(0.5)">
                  <app-type-tag
                    [typeName]="type"
                    [backgroundColor]="typeColors[type]"
                  ></app-type-tag>
                </div>
              </div>
            </div>
            <div class="zero-list-div">
              <div class="effectiveness-label">No Effective</div>
              <div class="right-effectiveness">
                <div *ngIf="returnTypeEffectiveness(0).length === 0">--</div>
                <div *ngFor="let type of returnTypeEffectiveness(0)">
                  <app-type-tag
                    [typeName]="type"
                    [backgroundColor]="typeColors[type]"
                  ></app-type-tag>
                </div>
              </div>
            </div>
          </div>
        </section>
      </p-tabPanel>

      <!-- evolutions -->
      <p-tabPanel header="Evolutions">
        <section class="evolution-sec">
          <div class="evolution-chain">
            <div
              class="evolution-chain-item"
              *ngFor="let evolution of evolutionChain; let i = index"
            >
              <div
                class="trigger-div"
                *ngIf="evolution.trigger || evolution.min_level"
              >
                <div class="evolution-arrow-down pi pi-arrow-down"></div>
                <div class="evolution-trigger-level">
                  Level {{ evolution.min_level }}
                </div>
              </div>
              <div
                class="evolution-image-div"
                [style.--poke-color]="evolution.pokemon.species?.color?.name"
                (click)="gotoPokemon(evolution.pokemon.id)"
              >
                <div class="pokemon-evolution-image-div">
                  <img
                    [src]="
                      evolution?.pokemon.sprites?.other['official-artwork']
                        .front_default
                    "
                    [alt]="evolution.pokemon.name"
                    class="pokemon-evolution-image"
                  />
                </div>
                <div
                  class="evolution-name-div"
                  [style.backgroundColor]="
                    evolution.pokemon.species?.color.name
                  "
                >
                  <div
                    class="evolution-name"
                    [style.color]="fontColor"
                    [style.fontWeight]="
                      evolution.pokemon.id === pokemon.id ? 'bold' : 'normal'
                    "
                  >
                    {{ evolution.pokemon.name | capitalize }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </p-tabPanel>

      <!-- moves -->
      <p-tabPanel header="Moves">
        <section class="move-sec">
          <!-- search bar -->
          <app-base-input
            [fieldControl]="searchMoveFormControl"
            [iconRightStyle]="'pi pi-search'"
          ></app-base-input>

          <!-- list -->
          <div *ngFor="let move of displayMoveList; let i = index">
            <div
              class="move-div"
              [style.border-top]="
                i !== 0 ? '1px solid ' + pokemon.species.color.name : 'none'
              "
            >
              <div class="move-basic">
                <div class="move-name">{{ returnMoveNameByLang(move) }}</div>
                <div class="move-desc">{{ returnMoveDescByLang(move) }}</div>
              </div>
              <div class="move-stat">
                <div class="move-power">{{ move.power ?? "--" }}</div>
                <p-divider layout="vertical"></p-divider>
                <div class="move-accuracy">{{ move.accuracy ?? "--" }}</div>
                <p-divider layout="vertical"></p-divider>
                <div class="move-pp">{{ move.pp ?? "--" }}</div>
              </div>
              <div class="move-skill-div">
                <app-type-tag
                  class="move-type-tag"
                  [typeName]="move.type.name"
                  [backgroundColor]="typeColors[move.type.name]"
                  [isIcon]="true"
                ></app-type-tag>
                <div class="move-category-div">
                  <div
                    class="move-category"
                    [style.background]="
                      returnCatColorByName(move.damage_class.name)
                    "
                  >
                    <img
                      [src]="
                        'assets/icons/category/' +
                        move.damage_class.name +
                        '.png'
                      "
                      alt="{{ move.damage_class.name }} icon"
                      class="move-category-icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
