//#region main
.detail-container {
  height: calc(100vh - 48px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--surface-0);
}

.pokemon-img-sec {
  display: grid;
  grid-template-areas:
    "basic-div"
    "image-div";
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
  aspect-ratio: 6/5;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.basic-div {
  display: grid;
  grid-template-areas: "pokemon-name" "pokemon-id" "pokemon-type";
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  align-items: center;
  height: 100%;
  padding: var(--content-gap-s) var(--content-gap);
}

.pokemon-id {
  display: flex;
  justify-content: end;
  font-size: var(--font-h1-size);
  color: white;
}

.pokemon-type {
  display: flex;
  gap: var(--content-gap-s);
}

.image-div {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img {
  aspect-ratio: 1/1;
  height: 100%;
}

.pokemon-name {
  font-size: var(--font-h1-size);
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  width: 100%;
  justify-content: start;
  display: flex;
  align-items: center;
}

::ng-deep {
  .p-tabview-nav-content ul {
    li {
      width: 25%;

      a {
        justify-content: center;
      }
    }
  }
}

.h2-title {
  font-size: var(--font-h2-size);
}

.detail-body {
  position: relative;
  top: -40px;
  padding: var(--content-gap-xxxl) var(--content-gap) 0;
  background-color: var(--surface-0);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

//#endregion main

//#region body
.description-sec {
  display: grid;
  gap: var(--content-gap);
}

.body-div {
  border-radius: 12px;
  border: 1px solid var(--poke-color);
  display: grid;
  grid-column-gap: var(--content-gap);
  grid-template-areas: "height-div weight-div";
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  padding: var(--content-gap);
}

.height-div,
.weight-div {
  display: grid;
  gap: var(--content-gap-xs);
}

.pokemon-label {
  font-size: var(--font-h4-size);
  text-align: start;
}

.pokemon-value {
  font-size: var(--font-h2-size);
  text-align: start;
  display: flex;
  justify-content: start;
  gap: var(--content-gap);
}

.detail-div {
  display: grid;
  grid-template-areas: "breeding-label breeding-label" "detail-grid-label-div detail-grid-value-div";
  grid-template-columns: 40% 60%;
  row-gap: var(--content-gap);
}

.breeding-label {
  grid-area: breeding-label;
  display: grid;
  font-size: var(--font-h3-size);
  width: 100%;
}

.detail-grid-label-div,
.detail-grid-value-div {
  display: grid;
  row-gap: var(--content-gap-xs);
}

.detail-grid-label {
  font-size: var(--font-h4-size);
}

.detail-grid-value {
  display: flex;
  gap: var(--content-gap);
  font-size: var(--font-h4-size);
}

.body-base-div {
  display: grid;
  grid-template-areas: "base-label" "base-grid-group-div";
  grid-template-columns: 100%;
  row-gap: var(--content-gap);
}

.base-label {
  grid-area: base-label;
  font-size: var(--font-h3-size);
  display: grid;
}

.base-grid-group-div {
  display: grid;
  grid-area: base-grid-group-div;
  row-gap: var(--content-gap-xs);
}

.base-grid-div {
  display: grid;
  grid-template-areas: "base-grid-label base-grid-value";
  grid-template-columns: 40% 60%;
}

.base-grid-label,
.base-grid-value {
  font-size: var(--font-h4-size);
  display: flex;
  gap: var(--content-gap-xs);
}

.encounter-title {
  font-size: var(--font-h3-size);
}

.encounter-sec {
  margin-top: var(--content-gap);
}

.location-list {
  display: grid;
  gap: var(--content-gap-xs);
  margin-top: var(--content-gap);
}

.location-item {
  display: grid;
  gap: var(--content-gap-xs);
}

.location-version-item {
  display: grid;
  grid-template-areas: "version-label location-label";
  grid-template-columns: 40% 60%;
}

.version-label {
  display: flex;
  align-items: center;
}

.location-label {
  align-items: center;
  display: flex;
  height: 100%;
  border: 1px solid var(--poke-color);
  border-radius: 12px;
  padding: var(--content-gap-xs);
}

.version-tag {
  background-color: var(--version-color);
  padding: var(--content-gap-xs);
  border-radius: 8px;
  width: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

#endregion

// #region type effectiveness
.type-effectiveness-div {
  display: grid;
  grid-template-areas: "super-list-div" "double-list-div" "normal-list-div" "half-list-div" "zero-list-div";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  gap: var(--content-gap);
}

.super-list-div,
.double-list-div,
.normal-list-div,
.half-list-div,
.zero-list-div {
  display: grid;
  grid-template-areas: "effectiveness-label right-effectiveness";
  gap: var(--content-gap);
  margin-top: var(--content-gap);
  grid-template-columns: 30% 70%;
}

.effectiveness-label {
  display: flex;
  align-items: center;
  word-break: break-all;
}

.right-effectiveness {
  padding: var(--content-gap-s);
  display: flex;
  gap: var(--content-gap);
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid var(--poke-color);
  //   flex-direction: column;
}

//#endregion type effectiveness

// #region moves
.move-div {
  border: 0;
  display: grid;
  grid-template-areas: "move-basic move-stat move-skill";
  // margin: 0 var(--content-gap);
  grid-template-columns: 40% 25% 1fr;
  align-items: center;
  gap: var(--content-gap);
}

.move-basic {
  grid-area: move-basic;
  display: flex;
  flex-direction: column;
  gap: var(--content-gap-xs);
}

.move-name {
  font-weight: bold;
}

.move-desc {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.move-stat {
  display: flex;
  border-radius: 50px;
  height: 40%;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid var(--poke-color);
  align-items: center;
}

::ng-deep .p-divider.p-divider-vertical {
  margin: 0;
  padding: 0;
}

.move-skill-div {
  grid-area: move-skill;
  display: grid;
  grid-template-areas: "move-type-tag move-category-div";
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--content-gap);
}

.move-type-tag {
  height: 50%;
  display: flex;
  justify-content: center;
}

.move-category-div {
  height: 50%;
  display: flex;
  justify-content: center;
}

.move-category {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 999px;
  display: flex;
  justify-content: center;
}

.move-category-icon {
  aspect-ratio: 1/1;
  padding: var(--content-gap-xs);
}
//#endregion moves

//#region evolution
.evolution-chain {
  display: grid;
}

.evolution-chain-item {
  display: grid;
  grid-template-areas: "trigger-div" "evolution-image-div";
  grid-template-columns: 100%;
}

.trigger-div {
  display: grid;
  grid-template-areas: "evolution-arrow-down evolution-trigger-level";
  gap: var(--content-gap);
  justify-content: center;
  padding: var(--content-gap) 0;
}

.evolution-image-div {
  display: grid;
  grid-template-areas: "pokemon-evolution-image-div" "evolution-name-div";
  gap: var(--content-gap);
  grid-template-columns: 100%;
  border-radius: var(--border-radius);
  margin: auto;
  width: 80%;
  position: relative;
}

.evolution-image-div::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--poke-color);
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* fades only the background */
  z-index: 0;
  border-radius: var(--border-radius);
}

.pokemon-evolution-image-div {
  display: grid;
  z-index: 1;
}

.pokemon-evolution-image {
  aspect-ratio: 1/1;
  width: 40%;
  object-fit: cover;
  margin: auto;
}

.evolution-name-div {
  display: flex;
  justify-content: center;
  margin: 0 auto var(--content-gap);
  padding: var(--content-gap-xs);
  position: relative;
  border-radius: var(--border-radius);
}

.evolution-name-div::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--poke-color);
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* fades only the background */
  z-index: 0;
  border-radius: var(--border-radius);
}

.evolution-name {
  z-index: 1;
}

//#endregion evolution
