.detail-container {
  height: calc(100vh - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}

.pokemon-img-sec {
  display: grid;
  grid-template-areas: "pokemon-img";
  grid-template-rows: 100%;
  aspect-ratio: 6/3;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.pokemon-img {
  aspect-ratio: 1/1;
  height: 70%;
}

.pokemon-detail-sec {
  padding: var(--content-gap);
  display: grid;
  justify-content: center;
}

.pokemon-name {
  font-size: var(--font-h1-size);
}
