:host ::ng-deep {
  .chip-box {
    border: 1px solid var(--primary-color);
    height: 30px;
    display: flex;
    max-width: 200px;

    .p-chip-text {
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }

  .p-icon {
    color: var(--primary-color);
  }
}
